body {
    width: 400px;
    margin-left: 40%;
    margin-top: 20%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
}

body button {
    margin: 0 5px;
    min-width: 120px;
    color: #ffcf;
    background-color: black;
}